body {
  font-family: Arial, sans-serif;
  background: #eaf3ff; /* branco azulado */
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #004aad;
  margin-bottom: 20px;
}

/* DIV principal azul */
.form-box {
  background: #004aad; /* azul principal */
  width: 340px;
  margin: auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,74,173,0.3);
  color: white;
}

/* Inputs brancos */
input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 2px solid #ffffff;
  background: white;
  color: #004aad;
  font-weight: bold;
}

/* Botão azul claro */
button {
  background: #ffffff;
  color: #004aad;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #cfe2ff;
  transform: scale(1.05);
}

/* Lista */
#lista {
  margin-top: 30px;
}

/* Cards */
.card {
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 340px;
  border-radius: 12px;
  border-left: 6px solid #004aad;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #004aad;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
  color: #004aad;
}