body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topo {
    background: linear-gradient(to right, #00001a, #2b2bff);
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-weight: bold;
    height: 0px;

}

.menu {
    margin-left: auto;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
    font-size: 14px;
}

.btn-entrar {
    background-color: red;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-entrar:hover {
    background-color: darkred;
}
